/* Background and body content*/
body {
    margin-top: 20px;
    font-family: "Lato", sans-serif;
    font-size: 24px;
    color: #2d3c49;
    font-weight: 300;
    background: linear-gradient(#ffffff, #c6c6c6);
}

/* Background design pattern */
.bg2 {
    background: #2d3c49;
    color: #efefef;
    position: relative;
    z-index: 1;
    padding-top: 50px;
    padding-bottom: 50px;
}

.bg2:after {
    background: inherit;
    bottom: 0;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    transform: skewY(-5deg);
    transform-origin: 100%;
    z-index: -1;
}

.bg3 {
    background: #2d3c49;
    color: #efefef;
    position: relative;
    z-index: 1;
    padding-bottom: 5%;
}

.bg3:before {
    background: inherit;
    bottom: 0;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    transform: skewY(5deg);
    transform-origin: 100%;
    z-index: -1;
}
.section-title {
    padding-top: 15%;
    padding-bottom: 20px;
}

.section-end {
    padding-bottom: 15%;
}

/* Images and Elements*/
img,
embed,
object,
video {
    max-width: 100%;
}

.profile {
    max-width: 300px;
    max-height: 450px;
    margin: auto;
    border-radius: 5%;
    border: 2px solid #c6c6c6;
}

/* Modal */
button {
    min-width: 48px;
    min-height: 48px;
}

/* Logo */
.title-logo {
    max-height: 200px;
    max-width: 200px;
    width: 20%;
    height: 20%;
    min-width: 100px;
    min-height: 100px;
    margin: auto;
    display: block;
}

/* Fonts */
.text-muted {
    color: #7d97ad;
}

.text-thin {
    font-weight: 300;
}

.title-super {
    font-size: 300%;
}

.title-sub {
    font-size: 90%;
}

/* Home Section */
#home {
    margin-top: 200px;
    margin-bottom: 300px;
    text-align: center;
}
